#header {
    background-color: red;
    padding: 25px 0;
}

#header img {
    vertical-align: middle;
    padding-right: 25px;
    
}

#header

#header h1 {
        text-align:center;
        margin: 0;
}